.steps-row{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 2rem;
    align-items: baseline;
}

.step{
    flex: 0 0 25%;
}

.step3{
    margin-bottom: 2rem;
}

.row-end{
    justify-content: flex-end;
}

.column{
    flex-direction: column;
}

.steps-row > svg{
    width: 0;
    animation: grow 0.5s ease-out forwards;
}

.section-how.animated .rarrow1, .section-how.animated .rarrow4{
    width: 17rem;
    transition: width 0.5s ease-out, transform 0.9s ease-out;
}

.section-how.animated .rarrow3{
    width: 15rem;
}

.section-how.animated .rarrow2{
    width: 16rem;
}

.rarrow1{
    transform: translate(0px, -3rem);
}

.rarrow2{
    transform: rotate(50deg) translate(0rem, 6rem);
}

.rarrow3{
    transform: rotate(150deg) translate(-1rem, 8rem);
}

.rarrow4{
    transform: translate(0px, -3rem) rotate(180deg);
}