:root{
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
    color: #2e2f3e;
    font-size: 16px;
}

html,body {
    margin:0;
}

.loading{
    visibility: hidden;
    opacity: 0;
}

.loaded{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-out;
    transition-delay: 0.2s;
}

#preloader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.active{
    opacity: 1;
    visibility: visible;
}

.inactivated{
    animation: zoomout 0.7s ease-out forwards;
}

@keyframes zoomout{
    0%{
        transform: scale(1);
        display: block;
    }
    99.9%{
        transform: scale(15);
        display: none;
        visibility: hidden;
    }
    100%{
        transform: scale(1);
        display: none;
        visibility: hidden;
    }
}

.content{
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem 0 0 0;
}

.content-wrap{
    flex-wrap: wrap;
}

.navheader, .navfooter{
    width: 100%;
    background-color:#000000;
    color:white;
    z-index: 5;
}

.navlogo {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 26px;
    align-items: center;
}

.navlogo-section{
    flex: 40%;
    display: flex;
    justify-content: left;
}

.navmenu{
    padding: 2rem 0;
    display: flex;
    flex: 60%;
    justify-content: space-between;
    align-items: center;
}

.row {
    margin:0;
}

p {
    margin: 0;
}

.navlink {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.navlink:hover{
    transition: color 0.2s ease-in-out;
    color: #A1CE22;
    text-decoration: none;
}

.menutext{
    font-size:1rem;
    font-weight:700;
    letter-spacing: 2px;
}

.navitem, .navitem > svg, .navitem span{
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

.navitem .menutext{
    margin: 0 0.5rem;
}

.navitem:hover, .navitem:hover > svg, .navitem:hover span{
    z-index: 10;
    color: #A1CE22;
    transform: scale(1.2);
    transition: transform 0.2s ease-out, color 0.2s ease-out;
}

.hero1 {
    height:100%;
    background-image: url("../images/Hacker_edited.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom:10%;
}

.secure {
    height:100%;
}

.audit{
    height:84%;
}

.herobtn {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    background-color:#0001;
    border: 3px solid #1E8130;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left:15%;
    padding-right:15%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
}

#securetext {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:6rem;
    color:white;
}

.hero2 {
    height:100%;
    background-image: url("../images/xyz.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.prevention {
    height:100%;
}

#preventiontext {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 85px;
    line-height: 116px;
    color:whitesmoke;
}

.preventionsub {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 170%;
    color:whitesmoke;
}

.hero3 {
    height:132%;
    background-image: url("../images/abot.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero3box {
    margin-left:12%;
    margin-right:12%;
}

.whowe {
    height:35%;
    width:100%;
}

.whoweare {
    width:100%;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 85px;
    line-height: 116px;
    color: #FEF1F1;

}

.whoweinfo {
    height:15%;
    width:75%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 171.2%;
    color: #FFFFFF;
}

.whowebtn {
    height:5%;
    width:75%;
}

.whowebttn {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    background-color:#0001;
    border: 3px solid #1E8130;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left:3%;
    padding-right:3%;
    color: white;
    height:100%;
}

.picfoot {
    height:20vh;
    background-image: url("../images/foot.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pichead {
    height:20vh;
    background-image: url("../images/head.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.testimony {
    height:80%;
    background-color:#fff;
}

.testhead {
    height:20%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 79px;
    line-height: 93px;
    color: #000000;
}

.testimg{
    height:10%;
}

.testname {
    height:10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}

.testdata {

    height:40%;
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
    line-height: 135%;
    text-align: center;
    letter-spacing: 0.02rem;
    color: #0009;
}

.footer {

    height:65%;

}

.footcol {
    padding: 1rem 0.4rem;
    flex: 20%;
}

.footcolhead {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 0.7rem;
    color:white;
}

.contact, .socialmedia{
    margin-bottom: 1rem;
}

.number{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color:white;
}

.email {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    margin-bottom: 5%;
    color:white;
}

.headtext{
    font-style: inherit;
    color:white;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 0.05rem;
}

.infosec {
    height:100%;
    background-color:white ;
    padding:10%;
    padding-top:5%;
    padding-bottom:0;
    color:black;
}

.infosdata {
    height:65%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
}

.brandname{
    margin-left: 0.3rem;
    color: white;
    letter-spacing: 0.1rem;
}

.infosimg {
   height:60%;
}

.spartinfo {
    height:35%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    padding:1%;
    padding-top:0;
    padding-bottom:0;
    color: #000000;

}

.vulhead {
    height:20%;
    background-color: white;
} 

.vulhead div p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #000000;
}

.vulnerability {
    height:30%;
    width:100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 75px;
    text-align: center;

    color: #000000;
}

.compgr {
    height:20%;
    background-color: white;
}

.companies {
    height:100%;
    background-color: white;
    padding-bottom:3%;
}


.compr {
    height:29%;
    margin-bottom:3%;
}

.compc {
    height:100%;
    padding:0;
}

.compimg {
    height:100%;
    width:100%; 
}

.pagehead{
    margin-left: 1rem;
}

.footcoltext{
    font-size: 1.25rem;
}

.footcolitem{
    display: flex;
    white-space: nowrap;
    margin: 0.5rem 0;
}

.footcolicon{
    position: relative;
    margin-right: 0.5rem;
}

.footcollist{
    padding: 0;
}

.ainfo{
    flex: 3;
}

.sinfo{
    flex: 1.5;
}

.tinfo{
    flex: 2;
}

.cinfo{
    flex: 1;
}

/* .xinfo{
    margin-left: 2.5rem;
} */

.footlogo{
    animation: rotation 2s infinite;
    animation-play-state: running;
}

@keyframes rotation{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}


/******************************************** Form styling CSS **********************************************/

.modal-overlay{
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    z-index: 6;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    animation: fadein 0.2s ease-out forwards;
}

@keyframes fadein{
    to{opacity: 1}
}

.modal-container{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
    position: fixed;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    width: 35%;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.modal-body{
    position: relative;
}

.modal-head{
    padding: 0.5rem;
    background: #a1ce22;
    color: white;    
    box-shadow: 0px 0px 5px 0px black;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-heading{
    flex: 8;
    text-align: center;
    padding: 0.3rem;
}

.heading{
    font-size: 1.5rem;
}

.subheading{
    padding-top: 0.2rem;
}

.modal-close{
    flex: 1;
}

.modal-close path{
    stroke: rgba(255, 255, 255, 0.445);
    transition: stroke 0.1s ease;
}

.modal-close:hover{
    cursor: pointer;
}

.modal-close:hover path{
    stroke: #f7f7f8;
    transition: stroke 0.1s ease;
}

.modal-form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.form-field{
    color: #2e2f3e;
    flex: 1;
    width: 100%;
    margin-bottom: 0.7rem;
}

.form-label{
    display: block;
    margin-bottom: 0.5rem;
}

.form-input, .form-select{
    display: block;
    padding: 0.7rem 0.5rem;
}

.form-input{
    width: 97%;
}

.form-select{
    width: 100%;
}

.form-msg{
    color: #e90000;
    margin-bottom: 1rem;
    padding: 1rem 0;
    font-weight: 600;
    border-radius: 5px;
    display: none;
}

.form-input:focus, .form-select:focus{
    outline: 1px solid rgb(4, 176, 255);
}

.form-btn{
    margin: 1rem 0.2rem 0 0;
    box-shadow: 0px 2px 3px 0px black;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: white;
    background: #a1ce22cf;
    outline: none;
    float: right;
    font-size: 1.1rem;
    transition: background 0.1s ease, box-shadow 0.1s ease;
}

.form-btn:hover{
    cursor: pointer;
    background: #a1ce22;
    box-shadow: 0px 0px 1px 0px black;
    transition: background 0.1s ease, box-shadow 0.1s ease;
}

.modal-active{
    overflow: hidden;
}

.modal-inactive{
    opacity: 0;
    display: none;
}

.invalid{
    outline: 1px solid red;
}

.submit-msg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(40rem);
    visibility: hidden;
    opacity: 0;
}

.slide-out{
    transform: translateX(-40rem);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.slide-in{
    transform: translateX(0rem);
    visibility: visible;
    opacity: 1;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}