:root{
    font-size: 16px;
}

.main-content{
    flex: 55%;
    margin-right: 5rem;
}

.training-card{    
    top: 3rem;
    flex-basis: 30%;
    position: sticky;
    overflow: hidden;
    height: 100%;
    border-radius: 20px;
    box-shadow: -2px -2px 10px -2px rgba(0, 0, 0, 0.5), 2px 2px 10px -2px black;
    transform-style: preserve-3d;
    perspective: 200px;
    perspective-origin: center;
    transition: box-shadow 0.5s ease-in;
    margin: 2rem 0;
    transform: translateX(50px);
    opacity: 0;
}

.training-card > img{
    width: 100%;
    height: auto;
}

.training-head{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.section-main{
    transform: translateX(-50px);
    opacity: 0;
}

.section-main.animated, .training-card.animated{
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1.2s ease-out, transform 1.5s ease-out;
}

.training-info{
    font-size: 1.2rem;
    letter-spacing: 0.03rem;
}

.perks-head{
    margin: 1.5rem 0 0 0;
}

.perks{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: nowrap;
}

.perk{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.perk svg{
    opacity: 0;
    transform: translateY(-50px);
}

.perk.animated svg{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-out, transform 0.7s ease-out;
}

.p1.animated svg{
    transition-delay: 0s;
}

.p2.animated svg{
    transition-delay: 0.5s;
}

.p3.animated svg{
    transition-delay: 1s;
}

.p4.animated svg{
    transition-delay: 1.5s;
}

.perk-icon{
    width: 12rem;
    height: 12rem;
}

.perk-name{
    color: #A1CE22;
    text-align: center;
    font-size: 1.5rem;
}

.content-list{
    list-style-type: devanagari;
    font-size: 1.2rem;
}

.topics{
    padding-bottom: 0.5rem;
}

.topic-sublist{
    padding-top: 0.5rem;
    list-style-type: inherit;
}

.subtopics{
    padding-bottom: 0.2rem;
}

.topics, .subtopics{
    opacity: 0;
}

.topics.animated, .subtopics.animated{
    opacity: 1;
    transition: opacity 0.5s ease-out;
    transition-delay: 0.3s;
}

.training-name, .training-action{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    position: absolute;
    z-index: 12;
}

.training-name{
    top: 5%;
    transform: rotate3d(1, 0, 0, -45deg);
}

.training-action{
    top: 88%;
    transform: rotate3d(1, 0, 0, 45deg);
}

.training-btn{
    box-shadow: 0px -1px 3px 0px black;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 0.3rem;
    border-radius: 5px;
    font-weight: 600;
}

.btn-action{
    box-shadow: 0px 3px 3px 0px black;
    transition: background 0.2s ease-in-out, box-shadow 0.2s ease-out;
}

.btn-action:hover{
    cursor: pointer;
    background: white;
    box-shadow: 0px 1px 1px 0px black;
    transition: background 0.2s ease-in-out, box-shadow 0.2s ease-out;
}

.card-body{
    text-align: center;
    padding: 1rem;
    margin-bottom: 5rem;
}

.body-head{
    margin-bottom: 1rem;
}

.head-main{    
    font-size: 2.3rem;
    font-weight: 600;
    padding: 10px;
}

.head-sec{
    font-size: 1.3rem;
    opacity: 0.7;
}